# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
将删除 mtime/__pycache__/
将删除 mtime/spiders/__pycache__/
